In [14]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

In [15]:
variable= pd.read_csv(r"C:\Users\stods\git\workplaceinjuries\jun09sept09.csv", encoding = "ISO-8859-1")
variable.drop(['Company'], axis=1, inplace=True)
variable.drop(variable.columns[[0, 1, 2, 3, 4]], axis=1, inplace=True)


year2009=variable.dropna()
year2009

         country    year  death_rate
0  United States  2009.0        0.11

In [16]:
variable= pd.read_csv(r"C:\Users\stods\git\workplaceinjuries\sept09sept10.csv", encoding = "ISO-8859-1")
variable.drop(['Company'], axis=1, inplace=True)
#variable.drop(['Unnamed: 6'], axis=1, inplace=True)
variable.drop(variable.columns[[0, 1, 2, 3]], axis=1, inplace=True)
year2010=variable.dropna()
#variable.head()
year2010

    total        country    year  death_rate
0  1167.0  United States  2010.0        1.04

In [17]:
variable= pd.read_csv(r"C:\Users\stods\git\workplaceinjuries\jul10sept11.csv", encoding = "ISO-8859-1")
variable.drop(['Company'], axis=1, inplace=True)
variable.drop(variable.columns[[0, 1, 2, 3, 4, 5, 6]], axis=1, inplace=True)
#variable.head()
year2011=variable.dropna()
year2011

         country    year  death_rate
0  United States  2011.0        1.03

In [18]:
variable= pd.read_csv(r"C:\Users\stods\git\workplaceinjuries\feb11sept12.csv", encoding = "ISO-8859-1")
variable.drop(['Unnamed: 4'], axis=1, inplace=True)
variable.drop(variable.columns[[0, 1, 2, 3, 4, 5, 6]], axis=1, inplace=True)
#variable.head()
year2012=variable.dropna()
year2012

         country    year  death_rate
0  United States  2012.0        0.95

In [19]:
variable= pd.read_csv(r"C:\Users\stods\git\workplaceinjuries\jan12sept13.csv", encoding = "ISO-8859-1")
variable.drop(variable.columns[[0, 1, 2, 3, 4, 5, 6]], axis=1, inplace=True)
#variable.head()
year2013=variable.dropna()
year2013

         country    year  death_rate
0  United States  2013.0        0.97

In [20]:
variable= pd.read_csv(r"C:\Users\stods\git\workplaceinjuries\sept13sept14.csv", encoding = "ISO-8859-1")
variable.drop(variable.columns[[0, 1, 2, 3, 4, 5, 6, 7]], axis=1, inplace=True)
#variable.head()
year2014=variable.dropna()
year2014

         country    year  death_rate
0  United States  2014.0        1.14

In [21]:
variable= pd.read_csv(r"C:\Users\stods\git\workplaceinjuries\oct14oct15.csv", encoding = "ISO-8859-1")
variable.drop(variable.columns[[0, 1, 2, 3, 4, 5, 6, 7, 8]], axis=1, inplace=True)
#variable.head()
year2015=variable.dropna()
year2015

         country    year  death_rate
0  United States  2015.0        1.04

In [22]:
variable= pd.read_csv(r"C:\Users\stods\git\workplaceinjuries\jan15sept16.csv", encoding = "ISO-8859-1")
variable.drop(variable.columns[[0, 1, 2, 3, 4, 5, 6, 7, 8]], axis=1, inplace=True)
#variable.head()
year2016=variable.dropna()
year2016

         country    year  death_rate
0  United States  2016.0        0.87

In [23]:
variable= pd.read_csv(r"C:\Users\stods\git\workplaceinjuries\may16apr17.csv", encoding = "ISO-8859-1")
variable.drop(['Unnamed: 12', 'Unnamed: 13'], axis=1, inplace=True)

variable.drop(variable.columns[[0, 1, 2, 3, 4, 5, 6, 7, 8]], axis=1, inplace=True)
#variable.astype({'Year': 'int32'}).dtypes


#variable.head()
year2017=variable.dropna()
year2017

         country    year  death_rate
0  United States  2017.0        0.45

In [24]:
frames = [year2009, year2010, year2011, year2012, year2013, year2014, year2015, year2016, year2017]

In [25]:
result = pd.concat(frames, axis=1, sort=True, join='outer')
result

,country,year,death_rate,total,country,year,death_rate,country,year,death_rate,...,death_rate,country,year,death_rate,country,year,death_rate,country,year,death_rate
0,United States,2009.0,0.11,1167.0,United States,2010.0,1.04,United States,2011.0,1.03,...,1.14,United States,2015.0,1.04,United States,2016.0,0.87,United States,2017.0,0.45

In [26]:
#variable.drop(variable.columns[[4], axis=1, inplace=True)
result_df = result.loc[:,~result.columns.duplicated()]
result_df

         country    year  death_rate   total
0  United States  2009.0        0.11  1167.0