In [1]:
import pandas as pd
import requests
import csv
import os
import numpy as np
from sqlalchemy import create_engine
import psycopg2

In [2]:
work_deaths_csv = "work_deaths.csv"

work_deaths_df = pd.read_csv(work_deaths_csv, encoding="utf-8")

work_deaths_df.head()

,ref_area.label,indicator.label,source.label,sex.label,classif1.label,time,obs_value,obs_status.label,note_indicator.label,note_source.label
0,Australia,SDG indicator 8.8.1 - Fatal occupational injur...,AUS - ADM - Work-related Traumatic Injury Fata...,Sex: Total,Migrant status: Total,2009,2.65,NaN,Coverage of occupational injuries: Compensated...,Data reference period: Noncalendar year | Refe...
1,Australia,SDG indicator 8.8.1 - Fatal occupational injur...,AUS - ADM - Work-related Traumatic Injury Fata...,Sex: Total,Migrant status: Total,2010,1.96,NaN,Coverage of occupational injuries: Compensated...,Data reference period: Noncalendar year | Refe...
2,Australia,SDG indicator 8.8.1 - Fatal occupational injur...,AUS - ADM - Work-related Traumatic Injury Fata...,Sex: Total,Migrant status: Total,2011,2.00,NaN,Coverage of occupational injuries: Compensated...,Data reference period: Noncalendar year | Refe...
3,Australia,SDG indicator 8.8.1 - Fatal occupational injur...,AUS - ADM - Work-related Traumatic Injury Fata...,Sex: Total,Migrant status: Total,2012,2.01,NaN,Coverage of occupational injuries: Compensated...,Data reference period: Noncalendar year | Refe...
4,Australia,SDG indicator 8.8.1 - Fatal occupational injur...,AUS - ADM - Work-related Traumatic Injury Fata...,Sex: Total,Migrant status: Total,2013,1.71,NaN,Coverage of occupational injuries: Compensated...,Data reference period: Noncalendar year | Refe...

In [3]:
del work_deaths_df['indicator.label']
del work_deaths_df['source.label']
del work_deaths_df['sex.label']
del work_deaths_df['classif1.label']
del work_deaths_df['obs_status.label']
del work_deaths_df['note_indicator.label']
del work_deaths_df['note_source.label']
work_deaths_df.head()

  ref_area.label  time  obs_value
0      Australia  2009       2.65
1      Australia  2010       1.96
2      Australia  2011       2.00
3      Australia  2012       2.01
4      Australia  2013       1.71

In [4]:
work_deaths_df.rename(columns = {'ref_area.label':'country'}, inplace = True)
work_deaths_df.rename(columns = {'time':'year'}, inplace = True)
work_deaths_df.rename(columns = {'obs_value':'death_rate'}, inplace = True)
work_deaths_df.head()

     country  year  death_rate
0  Australia  2009        2.65
1  Australia  2010        1.96
2  Australia  2011        2.00
3  Australia  2012        2.01
4  Australia  2013        1.71

In [5]:
work_deaths_df.round({'death_rate': 2})

      country  year  death_rate
0   Australia  2009        2.65
1   Australia  2010        1.96
2   Australia  2011        2.00
3   Australia  2012        2.01
4   Australia  2013        1.71
5   Australia  2014        1.61
6   Australia  2015        1.65
7     Germany  2009        1.06
8     Germany  2010        1.20
9     Germany  2011        1.18
10    Germany  2012        1.19
11    Germany  2013        0.99
12    Germany  2014        1.10
13    Germany  2015        0.97
14      Spain  2009        2.61
15      Spain  2010        2.32
16      Spain  2011        2.51
17      Spain  2012        2.17
18      Spain  2013        1.89
19      Spain  2014        2.02
20      Spain  2015        2.31
21      Spain  2016        1.79
22     France  2009        2.17
23     France  2010        2.44
24     France  2011        3.09
25     France  2012        2.53
26     France  2013        2.42
27     France  2014        2.70
28     France  2015        2.55
29      Italy  2009        3.01
30      Italy  2010        3.02
31      Italy  2011        2.71
32      Italy  2012        2.64
33      Italy  2013        2.31
34      Italy  2014        2.34
35      Italy  2015        2.42
36     Mexico  2009       10.00
37     Mexico  2010       10.00
38     Mexico  2011       10.54
39     Mexico  2012        9.78
40     Mexico  2013        8.09
41     Mexico  2014        7.91
42     Mexico  2015        8.23
43     Mexico  2016        7.73

In [6]:
occ_deaths = work_deaths_df.round({'death_rate': 2})
occ_deaths

      country  year  death_rate
0   Australia  2009        2.65
1   Australia  2010        1.96
2   Australia  2011        2.00
3   Australia  2012        2.01
4   Australia  2013        1.71
5   Australia  2014        1.61
6   Australia  2015        1.65
7     Germany  2009        1.06
8     Germany  2010        1.20
9     Germany  2011        1.18
10    Germany  2012        1.19
11    Germany  2013        0.99
12    Germany  2014        1.10
13    Germany  2015        0.97
14      Spain  2009        2.61
15      Spain  2010        2.32
16      Spain  2011        2.51
17      Spain  2012        2.17
18      Spain  2013        1.89
19      Spain  2014        2.02
20      Spain  2015        2.31
21      Spain  2016        1.79
22     France  2009        2.17
23     France  2010        2.44
24     France  2011        3.09
25     France  2012        2.53
26     France  2013        2.42
27     France  2014        2.70
28     France  2015        2.55
29      Italy  2009        3.01
30      Italy  2010        3.02
31      Italy  2011        2.71
32      Italy  2012        2.64
33      Italy  2013        2.31
34      Italy  2014        2.34
35      Italy  2015        2.42
36     Mexico  2009       10.00
37     Mexico  2010       10.00
38     Mexico  2011       10.54
39     Mexico  2012        9.78
40     Mexico  2013        8.09
41     Mexico  2014        7.91
42     Mexico  2015        8.23
43     Mexico  2016        7.73

In [7]:
#engine = create_engine('postgresql://user@localhost:57836/occ_deaths_db')

In [8]:
#i=occ_deaths
#i.to_sql('occ_deaths',engine,if_exists='replace')

In [9]:
#a=pd.read_sql_query('select * from occ_deaths',con=engine)

In [10]:
#occ_deaths.to_sql('occ_deaths', engine)

In [11]:
#engine = create_engine('postgresql://scott:tiger@localhost:57836/occ_deaths_db')
#df.to_sql('occ_deaths', engine)

In [12]:
connection_string = "postgres:postgres@localhost:5432/occ_deaths_db"
engine = create_engine(f'postgresql://{connection_string}')

In [13]:
engine.table_names()

['occ_deaths']

In [14]:
occ_deaths.to_sql(name='occ_deaths', con=engine, if_exists='append', index=False)

In [15]:
labor_pop_csv = "Labor population.xlsx.csv"

labor_pop_df = pd.read_csv(labor_pop_csv, encoding="utf-8")

labor_pop_df.head()

     Country  Year  Labor Population
0  Australia  2009          11493325
1  Australia  2010          11690165
2  Australia  2011          11856658
3  Australia  2012          12017116
4  Australia  2013          12189841

In [16]:
labor_pop_df.rename(columns = {'Country':'country'}, inplace = True)
labor_pop_df.rename(columns = {'Year':'year'}, inplace = True)
labor_pop_df.rename(columns = {'Labor Population':'labor_pop'}, inplace = True)
labor_pop_df.head()

     country  year  labor_pop
0  Australia  2009   11493325
1  Australia  2010   11690165
2  Australia  2011   11856658
3  Australia  2012   12017116
4  Australia  2013   12189841

In [17]:
total_pop_csv = "Total population.csv"

total_pop_df = pd.read_csv(total_pop_csv, encoding="utf-8")

total_pop_df.head()

     Country  Year  Total Population
0  Australia  2009          21691700
1  Australia  2010          22031750
2  Australia  2011          22340024
3  Australia  2012          22733465
4  Australia  2013          23128129

In [18]:
total_pop_df.rename(columns = {'Country':'country'}, inplace = True)
total_pop_df.rename(columns = {'Year':'year'}, inplace = True)
total_pop_df.rename(columns = {'Total Population':'labor_pop'}, inplace = True)
total_pop_df.head()

     country  year  labor_pop
0  Australia  2009   21691700
1  Australia  2010   22031750
2  Australia  2011   22340024
3  Australia  2012   22733465
4  Australia  2013   23128129

In [19]:
total_pop_df.rename(columns = {'labor_pop':'total_pop'}, inplace = True)
total_pop_df.head()

     country  year  total_pop
0  Australia  2009   21691700
1  Australia  2010   22031750
2  Australia  2011   22340024
3  Australia  2012   22733465
4  Australia  2013   23128129

In [24]:
# Merge these three data frames
# total_pop_df
# labor_pop_df
# occ_deaths

frames = [total_pop_df, labor_pop_df, occ_deaths]

result = pd.concat(frames, axis=1, sort=True, join='outer')

In [25]:
result

,country,year,total_pop,country,year,labor_pop,country,year,death_rate
0,Australia,2009,21691700,Australia,2009,11493325,Australia,2009.0,2.65
1,Australia,2010,22031750,Australia,2010,11690165,Australia,2010.0,1.96
2,Australia,2011,22340024,Australia,2011,11856658,Australia,2011.0,2.00
3,Australia,2012,22733465,Australia,2012,12017116,Australia,2012.0,2.01
4,Australia,2013,23128129,Australia,2013,12189841,Australia,2013.0,1.71
5,Australia,2014,23475686,Australia,2014,12331873,Australia,2014.0,1.61
6,Australia,2015,23815995,Australia,2015,12564482,Australia,2015.0,1.65
7,Australia,2016,24190907,Australia,2016,12722249,Germany,2009.0,1.06
8,Germany,2009,81902307,Germany,2009,41952677,Germany,2010.0,1.20
9,Germany,2010,81776930,Germany,2010,42014274,Germany,2011.0,1.18
10,Germany,2011,80274983,Germany,2011,41674901,Germany,2012.0,1.19
11,Germany,2012,80425823,Germany,2012,41767969,Germany,2013.0,0.99
12,Germany,2013,80645605,Germany,2013,42161170,Germany,2014.0,1.10
13,Germany,2014,80982500,Germany,2014,42415215,Germany,2015.0,0.97
14,Germany,2015,81686611,Germany,2015,42731868,Spain,2009.0,2.61
15,Germany,2016,82348669,Germany,2016,43182140,Spain,2010.0,2.32
16,Spain,2009,46362946,Spain,2009,23331133,Spain,2011.0,2.51
17,Spain,2010,46576897,Spain,2010,23527392,Spain,2012.0,2.17
18,Spain,2011,46742697,Spain,2011,23558817,Spain,2013.0,1.89
19,Spain,2012,46773055,Spain,2012,23565348,Spain,2014.0,2.02
20,Spain,2013,46620045,Spain,2013,23360853,Spain,2015.0,2.31
21,Spain,2014,46480882,Spain,2014,23142240,Spain,2016.0,1.79
22,Spain,2015,46444832,Spain,2015,23057305,France,2009.0,2.17
23,Spain,2016,46483569,Spain,2016,23019668,France,2010.0,2.44
24,France,2009,64707040,France,2009,29739196,France,2011.0,3.09
25,France,2010,65027507,France,2010,29836117,France,2012.0,2.53
26,France,2011,65342780,France,2011,29828496,France,2013.0,2.42
27,France,2012,65659809,France,2012,30059730,France,2014.0,2.70
28,France,2013,65998687,France,2013,30193260,France,2015.0,2.55
29,France,2014,66316100,France,2014,30131595,Italy,2009.0,3.01
30,France,2015,66593366,France,2015,30218801,Italy,2010.0,3.02
31,France,2016,66859768,France,2016,30293589,Italy,2011.0,2.71
32,Italy,2009,59095365,Italy,2009,24496302,Italy,2012.0,2.64
33,Italy,2010,59277417,Italy,2010,24432021,Italy,2013.0,2.31
34,Italy,2011,59379449,Italy,2011,24418799,Italy,2014.0,2.34
35,Italy,2012,59539717,Italy,2012,24940520,Italy,2015.0,2.42
36,Italy,2013,60233948,Italy,2013,25045316,Mexico,2009.0,10.00
37,Italy,2014,60789140,Italy,2014,25404369,Mexico,2010.0,10.00
38,Italy,2015,60730582,Italy,2015,25344344,Mexico,2011.0,10.54
39,Italy,2016,60627498,Italy,2016,25585208,Mexico,2012.0,9.78
40,Mexico,2009,112463887,Mexico,2009,48482135,Mexico,2013.0,8.09
41,Mexico,2010,114092963,Mexico,2010,49344235,Mexico,2014.0,7.91
42,Mexico,2011,115695473,Mexico,2011,50371763,Mexico,2015.0,8.23
43,Mexico,2012,117274155,Mexico,2012,51893358,Mexico,2016.0,7.73
44,Mexico,2013,118827161,Mexico,2013,52652690,NaN,NaN,NaN
45,Mexico,2014,120355128,Mexico,2014,53057168,NaN,NaN,NaN
46,Mexico,2015,121858258,Mexico,2015,54088799,NaN,NaN,NaN
47,Mexico,2016,123333376,Mexico,2016,54926772,NaN,NaN,NaN
48,United States,2009,306771529,US,2009,157153235,NaN,NaN,NaN
49,United States,2010,309326085,US,2010,156950122,NaN,NaN,NaN
50,United States,2011,311580009,US,2011,157034338,NaN,NaN,NaN
51,United States,2012,313874218,US,2012,158288096,NaN,NaN,NaN
52,United States,2013,316057727,US,2013,158831064,NaN,NaN,NaN
53,United States,2014,318386421,US,2014,159610790,NaN,NaN,NaN
54,United States,2015,320742673,US,2015,160676107,NaN,NaN,NaN
55,United States,2016,323071342,US,2016,162628720,NaN,NaN,NaN

In [28]:
result_df = result.loc[:,~result.columns.duplicated()]
result_df

          country  year  total_pop  labor_pop  death_rate
0       Australia  2009   21691700   11493325        2.65
1       Australia  2010   22031750   11690165        1.96
2       Australia  2011   22340024   11856658        2.00
3       Australia  2012   22733465   12017116        2.01
4       Australia  2013   23128129   12189841        1.71
5       Australia  2014   23475686   12331873        1.61
6       Australia  2015   23815995   12564482        1.65
7       Australia  2016   24190907   12722249        1.06
8         Germany  2009   81902307   41952677        1.20
9         Germany  2010   81776930   42014274        1.18
10        Germany  2011   80274983   41674901        1.19
11        Germany  2012   80425823   41767969        0.99
12        Germany  2013   80645605   42161170        1.10
13        Germany  2014   80982500   42415215        0.97
14        Germany  2015   81686611   42731868        2.61
15        Germany  2016   82348669   43182140        2.32
16          Spain  2009   46362946   23331133        2.51
17          Spain  2010   46576897   23527392        2.17
18          Spain  2011   46742697   23558817        1.89
19          Spain  2012   46773055   23565348        2.02
20          Spain  2013   46620045   23360853        2.31
21          Spain  2014   46480882   23142240        1.79
22          Spain  2015   46444832   23057305        2.17
23          Spain  2016   46483569   23019668        2.44
24         France  2009   64707040   29739196        3.09
25         France  2010   65027507   29836117        2.53
26         France  2011   65342780   29828496        2.42
27         France  2012   65659809   30059730        2.70
28         France  2013   65998687   30193260        2.55
29         France  2014   66316100   30131595        3.01
30         France  2015   66593366   30218801        3.02
31         France  2016   66859768   30293589        2.71
32          Italy  2009   59095365   24496302        2.64
33          Italy  2010   59277417   24432021        2.31
34          Italy  2011   59379449   24418799        2.34
35          Italy  2012   59539717   24940520        2.42
36          Italy  2013   60233948   25045316       10.00
37          Italy  2014   60789140   25404369       10.00
38          Italy  2015   60730582   25344344       10.54
39          Italy  2016   60627498   25585208        9.78
40         Mexico  2009  112463887   48482135        8.09
41         Mexico  2010  114092963   49344235        7.91
42         Mexico  2011  115695473   50371763        8.23
43         Mexico  2012  117274155   51893358        7.73
44         Mexico  2013  118827161   52652690         NaN
45         Mexico  2014  120355128   53057168         NaN
46         Mexico  2015  121858258   54088799         NaN
47         Mexico  2016  123333376   54926772         NaN
48  United States  2009  306771529  157153235         NaN
49  United States  2010  309326085  156950122         NaN
50  United States  2011  311580009  157034338         NaN
51  United States  2012  313874218  158288096         NaN
52  United States  2013  316057727  158831064         NaN
53  United States  2014  318386421  159610790         NaN
54  United States  2015  320742673  160676107         NaN
55  United States  2016  323071342  162628720         NaN